* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: orange;
    padding: 25px;
}

img {
    height: 200px;
    width: 200px;
}

.container {
    display: grid;
    padding: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;
}

.card {
    box-shadow: 5px 5px 5px gray;
}

p{
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

a:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(179, 174, 174);
}

.container-media {
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: center;
    margin-top: 100px;
}

.video2 {
    height: 350px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: gray;
    }

